<form  action="<%= location_comments_path(location) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if !parent.nil? %>
    <input type="hidden" name="comment[parent_id]" value="<%= parent.id %>">
  <% end %>
  <!--Text Area-->
  <div class="container">
    <div class="comment_reply_cont">
    <textarea name="comment[content]"class="comment_reply_text"></textarea>
    </div>
    <!--Submit Button-->
      <div class="comment_reply_submit_cont">
        <input type="submit" value="Submit" class="comment_reply_submit">
      </div>
    </div>
</form>