<!DOCTYPE html>
<html>
  <body>
  <!-- Footer -->
      <footer class="text-center text-lg-start text-muted" id="footer_position">
        <!-- Section-->
        <section>
          <!-- Name and small summary -->
          <div class="sticky-bottom">
            <div class="container text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" id="company_desc">
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa fa-compass"></i>
                    Explore Iceland
                  </h6>
                  <p class="info_footer">
                  Come and discover breathtaking scenery in the land of fire and ice by using our interactive map.
                  </p>
                </div>
                <!-- Account Creation -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="account_sign_up">
                  <h6 class="text-uppercase fw-bold mb-4">Account Creation</h6>
                    <%= link_to "Sign Up", new_user_registration_path, class:"footer_highlights" , id:"footer_sign_up_link"%>
                </div>
                <!-- Contact Details -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fa fa-envelope"></i> exploreiceland@example.com</p>
                  <p><i class="fa fa-phone"></i> +353 12 345 6789</p>
                </div>
              </div>
            </div>
          </section>
          <!-- Copyright -->
          <div id="copyright_container">
            <div class="container">
              <div class="row">
                <div class="col-6" id="copyright">
                  <p class="footer_highlights" id='footer_copyright_date'>© 2022 Copyright:</p>
                </div>
                <div class="col-6" id="title_copyright">
                  <a class="text-reset fw-bold" href="#">
                    <p class="footer_highlights" id='footer_copyright_title'><i class="fa fa-compass"></i> Explore Iceland<p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </footer>
 </body>
</html>