<!DOCTYPE html>
<html>
  <body>
  <!-- Footer -->
      <footer class="text-center text-lg-start text-muted">
        <!-- Section-->
        <section>
          <!-- Name and small summary -->
          <div class="sticky-bottom">
            <div class="container text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" id="company_desc">
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa fa-compass"></i>
                    Explore Iceland
                  </h6>
                  <p class="info_footer">
                  Come and discover breathtaking scenery in the land of fire and ice by using our interactive map.
                  </p>
                  <!-- Might Use This Somewhere Else!!!!******** 
                  <p class="info_footer">
                  Users can review, leave comments and upload images from all the locations that are pinned on the interactive map. 
                  </p>
                  <p class="info_footer">
                  There is also a suggestion box to create a new pin on the map! Please sign up in order to avail of all the mentioned features! 
                  </p>-->
                </div>
                <!-- Account Creation -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="account_sign_up">
                  <h6 class="text-uppercase fw-bold mb-4">Account Creation</h6>
                  <a href="#!" class="text-reset">
                    <p class="footer_highlights" id="footer_sign_up_link">Sign Up</p>
                  </a>
                </div>
                <!-- Contact Details -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fa fa-envelope"></i> exploreiceland@example.com</p>
                  <p><i class="fa fa-phone"></i> +353 12 345 6789</p>
                </div>
              </div>
            </div>
          </section>
          <!-- Copyright -->
          <div class="text-center p-4" class="footer_colour" class="sticky-bottom">
            <div class="container">
              <div class="row">
                <div class="col-6" id="copyright">
                  <p>© 2022 Copyright:</p>
                </div>
                <div class="col-6" id="title_copyright">
                  <a class="text-reset fw-bold" href="#">
                    <p class="footer_highlights"><i class="fa fa-compass"></i> Explore Iceland<p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </footer>
 </body>
</html>