<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
  </head>
  <body>
<!--Background Video-->
    <div class="card bg-dark text-white" id='video_container'>
      <%= video_tag( 'iceland.mp4', autoplay: true, loop: true, muted: true, id:'video')%>
      <div class="card-img-overlay">
      <!--Title, Buttons & Content-->
          <div class='row'>
            <div class='col-6'>
              <h2 id='home_title'>TITLE<h2>
            </div>
          </div>  
          <div class='row'>
            <div class='col-6'>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
         <!--Render depending if user is signed in-->
            <%= render 'user/session_manager_home' %>
            <!--End-->
    </div>
  </body>
</html>

<!--asd
 <div class="card bg-dark text-white" id='video_container'>
      <%= video_tag( 'iceland.mp4', autoplay: true, loop: true, muted: true, id:'video')%>
      <div class="card-img-overlay">
        <div class='container' id='home_title'>
          <div class='row'>
            <div class='col'>
              TITLE
            </div>
          <div class='row'>
            <div class='col'>
              CONTNET
            </div>
          </div>
          </div>

      </div>
    </div>
  </body>







-->