<% if current_user %>
  <div id='home_buttons'>
   <div class='row'>
      <div class='home_links_container'><%= button_to "Log Out", destroy_user_session_path, method: :delete, class:'home_signing_link'%></div> 
   </div>  
 </div>
  <% else %>
  <div id='home_buttons'>
   <div class='row'>
     <div class='home_links_container'><%= link_to "Sign Up", new_user_registration_path, class:'home_signing_link'%></div>
    </div> 
   <div class='row'> 
    <div class='home_links_container'><%= link_to "Login", new_user_session_path, class:'home_signing_link'%></div>
   </div>  
 </div>  
<% end %>
