body{
  background-color:rgb(35, 53, 112);
}
/*Video*/
#video{
  opacity: .8;
  width: 100%;
}
#video_container{
  height:970px;
  overflow: hidden;
}
#home_buttons{
  text-align: right;
}
#home_title{
  margin-top: 40% !important;
}