body{
  background-color:rgb(35, 53, 112);
  font-family: 'Prompt', sans-serif;
}
/*Video*/
#video{
  opacity: .8;
  width: 100%;
}
#video_container{
  height:970px;
  overflow: hidden;
}
#home_buttons{
  text-align: right;
}
#home_title{
  margin-top: 14% !important;
  margin-left: 5%;
  font-weight: bolder;
  font-size: 75px;
}
.home_title_layout{
  font-weight: 200;
  font-size: 40px;
  margin-left: 5%;
}
.home_content{
  font-weight: lighter;
  font-size: 17px;
  margin-left: 6%;
}
#home_map_link{
  color: rgb(0, 255, 242);
  transition: .5s;
}
#home_map_link:hover{
  color: rgb(255, 132, 157);
  transition: .5s;
}
/*Animation for links*/
.home_signing_link{
  background-image: linear-gradient(
    -225deg,
    rgb(0, 255, 242) 0%,
    #5fff3e 29%,
    rgb(252, 78, 113) 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  font-size: 50px;
  font-weight: bolder;
  border: none;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.home_links_container{
  margin-left: 6%;
  text-align: left;
}
/*Video - makes card/video responsive*/
@media screen and (max-width: 1737px){
  #video_container{
    height:auto;
  }
}
@media screen and (max-width: 1516px){
  #home_title{
    font-size: 50px;
    margin-top: 5% !important;
  }
  .home_title_layout{
    font-size: 30px;
  }
  .home_signing_link{
    font-size: 40px;
  }
}
@media screen and (max-width: 1204px){
  #home_title{
    font-size: 40px;
    margin: 0% !important;
  }
  .home_title_layout{
    font-size: 30px;
    width: 500px;
    margin: 0% !important;
  }
  .home_signing_link, .home_links_container{
    font-size: 30px;
    margin: 0% !important;
  }
  .home_content{
    margin: 0% !important;
  }
}
@media screen and (max-width: 1055px){
  #home_title{
    font-size: 30px;
    margin: 0% !important;
  }
  .home_title_layout{
    font-size: 25px;
    width: 500px;
    margin: 0% !important;
  }
  .home_signing_link, .home_links_container{
    font-size: 25px;
    margin: 0% !important;
  }
  .home_content{
    margin: 0% !important;
    font-size: 15px;
  }
}
@media screen and (max-width: 880px){
  #home_title{
    font-size: 20px;
    margin-top: 5% !important;
  }
  .home_title_layout{
    font-size: 15px;
  }
  .home_signing_link{
    font-size: 15px;
  }
  .home_content{
    font-size: 12px;
    width: 390px;
  }
  #home_hidden{
    display: none;
  }
}
@media screen and (max-width: 428px){
  #home_title{
    font-size: 13px;
    margin-top: 0 !important;
  }
  .home_title_layout{
    font-size: 12px;
  }
  .home_signing_link{
    font-size: 12px;
  }
  .home_content{
    font-size: 10px;
    width: 350px;
  }
}