/*
 *= require font-awesome
 */

/*NavBar & Footer*/
.site_title{
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
}
#navigation_bar, .dropdown-menu, .dropdown-menu:hover, .dropdown_links:hover, .dropdown-item:hover, .text-center{
  background-color: rgb(35, 53, 112)
}
#cities, #bowr, #waterfalls, #beaches, #canyons, .site_title, #home, #toggle_icon, .dropdown_links, .text-center, .footer_highlights{
  color: rgb(181, 236, 255);
  transition: .5s;
  box-shadow: none !important
}
#cities:hover, #bowr:hover, #waterfalls:hover, #beaches:hover, #canyons:hover, .site_title:hover, #home:hover, #toggle_icon:hover, 
.dropdown_links:hover, .footer_highlights:hover{
  color: rgb(252, 78, 113);
  transition: .5s;
}
#toggle_icon{
  padding-top: 12px;
  padding-bottom: 0;
}
#dropdown_icon{
  font-size: 20px;
}
.dropdown_links{
  margin-bottom: 0; 
}
.dropdown_links:hover{
  margin-bottom: 10px; 
  margin-top: 10px;
}
#company_desc, #account_sign_up, #contact{
  margin-top: 30px;
}
#account_sign_up{
  text-align: center;
}
.text-reset{
  text-decoration: none;
}
#title_copyright{
  font-family: 'Satisfy', cursive;
  text-align: left;
  padding-left: 2.5px;
}
#copyright{
  text-align: right;
  padding-right: 2.5px;
}
.footer_highlights{
  margin-top: 2.5px;
}
#footer_sign_up_link{
  border: 1.8px solid rgb(181, 236, 255);
  background-color: rgb(252, 78, 113);
  color: rgb(181, 236, 255);
  transition: 0.5s;
}
#footer_sign_up_link:hover{
  border: 1.8px solid rgb(252, 78, 113);
  background-color: rgb(181, 236, 255);
  color: rgb(252, 78, 113);
  transition: 0.5s;
}
#stick__footer{
  position: sticky;
  top: 100%;
  bottom: 100%;
}