/*
 *= require font-awesome
 */

/*NavBar & Footer*/
*{font-family: 'Prompt', sans-serif;}
.site_title{
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
}
#navigation_bar, .dropdown-menu, .dropdown-menu:hover, .dropdown_links:hover, .dropdown-item:hover, .text-center{
  background-color: rgb(35, 53, 112);
}
#cities, #bowr, #waterfalls, #beaches, #canyons, #account_nav, .site_title, #home, #map, #toggle_icon, .dropdown_links, .text-center, .footer_highlights, .account_nav_links, #button_log_out{
  text-align: center;
  color: rgb(181, 236, 255);
  transition: .5s;
  text-decoration: none;
  box-shadow: none !important
}
#cities:hover, #bowr:hover, #waterfalls:hover, #beaches:hover, #canyons:hover, .site_title:hover, #home:hover, #map:hover, #toggle_icon:hover, 
.dropdown_links:hover, .footer_highlights:hover, #account_nav:hover, .account_nav_links:hover, #button_log_out:hover{
  color: rgb(252, 78, 113);
  transition: .5s;
  padding-bottom: 0;
}
#map{
  margin-left: 35%;
}
.account_nav_links{
  margin-bottom: 10px; 
  margin-top: 10px;
}
#sign_log_in, #log_out{
  max-width: 114px;
  min-width: 114px;
}
#dropdown_icon{
  font-size: 20px;
}
.dropdown_links{
  margin-bottom: 0; 
}
.dropdown_links:hover{
  margin-bottom: 10px; 
  margin-top: 10px;
}
#company_desc, #account_sign_up, #contact{
  margin-top: 30px;
}
#account_sign_up{
  text-align: center;
}
.text-reset{
  text-decoration: none;
}
#title_copyright{
  font-family: 'Satisfy', cursive;
  text-align: left;
  padding-left: 2.5px;
}
#footer_copyright_title{
  text-align: left;
}
#footer_copyright_date{
  text-align: right;
}
#copyright{
  text-align: right;
  padding-right: 2.5px;
}
#footer_sign_up_link{
  border-bottom: 1.8px solid rgb(181, 236, 255);
  color: rgb(181, 236, 255);
  transition: 0.5s;
  font-weight: bolder;
}
#footer_sign_up_link:hover{
  border-bottom: 1.8px solid rgb(252, 78, 113);
  color: rgb(252, 78, 113);
  transition: 0.5s;
  font-weight: bolder;
}
#copyright_container{
  padding-bottom: 0;
}