<div id="<%= dom_id location %>">
  <p>
    <strong>Title:</strong>
    <%= location.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= location.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(location.image) %>
  </p>

</div>
